* {box-sizing: border-box}
body {font-family: "Lato", sans-serif; overflow-y:scroll}

/* Style the tab */
.tab {
  float: left;
  border: 0px solid #ccc;
  background-color: #ffffff;
  opacity: 0.8;
  width: 20%;
  height: 300px;

}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #121234;
  background-color: #e1e8fa;
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: #121234;
  background-color: #e1e8fa;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 12px 12px;
  border: 0px solid #338DFF;
  width: 70%;
  border-left: none;
  height: 300px;
  font-size: 15px;
  color: #494C4D;
  line-height: 1.5;
  margin: auto;

}

.tabcontentchild {
  padding: 12px 12px;
  border: 0px solid #338DFF;
  width: 95%;
  border-left: none;
  height: 300px;
  font-size: 15px;
  color: #494C4D;
  line-height: 1.5;
  min-width: 25em;
	max-width: 50em;
  margin: auto;

}

.center_div {
  width: 60%;
  min-width: 1150px;
  margin: auto;
}

.center {
  text-align: center;
}
